<%= form_for(@documentation) do |f| %>
  <% if @documentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documentation.errors.count, "error") %> prohibited this documentation from being saved:</h2>

      <ul>
      <% @documentation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class=>"form-control wysihtml5", :rows=>8 %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.text_area :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
