<%= form_for @communication_channel, :html => { :class => "form-horizontal communication_channel" } do |f| %>

<div class="jumbotron">
  
  <div class="container">


  <% if @communication_channel.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@communication_channel.errors.count, "error") %> prohibited this communication channel from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @communication_channel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class=>"form-control wysihtml5", :rows=>8 %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <%= f.label :standards, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :standards, :class=>"form-control wysihtml5", :rows=>8 %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                resources_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
</div>
<% end %>
