<%- model_class = CommunicationChannel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @communication_channel.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @communication_channel.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:standards) %>:</strong></dt>
  <dd><%= @communication_channel.standards %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              communication_channel_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_communication_channel_path(@communication_channel), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              communication_channel_path(@communication_channel),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
