<%= form_for(@software) do |f| %>
  <% if @software.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@software.errors.count, "error") %> prohibited this software from being saved:</h2>

      <ul>
      <% @software.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

 <div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, :class=>"form-control wysihtml5", :rows=>8 %>
  </div>

  <div class="field">
    <%= f.label :page %><br>
    <%= f.url_field :page %>
  </div>
  <div class="field">
    <%= f.label :contribution_model %><br>
    <%= f.text_area :contribution_model, :class=>"form-control wysihtml5", :rows=>8 %>
  </div>
  <div class="field">
    <%= f.label :coding_standard %><br>
    <%= f.text_area :coding_standard, :class=>"form-control wysihtml5", :rows=>8 %>
  </div>
  <div class="field">
    <%= f.label :contribution_standard %><br>
    <%= f.text_area :contribution_standard, :class=>"form-control wysihtml5", :rows=>8 %>
  </div>
  <div class="field">
    <%= f.label :setup_workspace %><br>
    <%= f.text_area :setup_workspace, :class=>"form-control wysihtml5", :rows=>8 %>
  </div>
  <div class="field">
    <%= f.label :issue_tracker %><br>
    <%= f.url_field :issue_tracker %>
  </div>
  <div class="field">
    <%= f.label :repository %><br>
    <%= f.url_field :repository %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
    <%= f.label :communication_channels %><br>
    <%= f.collection_check_boxes(:communication_channels, CommunicationChannel.all, :id, :to_s, checked: @software.communication_channels.map(&:id)) %>
  </div>
    <%= link_to 'New Communication Channel', new_communication_channel_path %><br><br>
  <div class="field">


<div class="field">
    <%= f.label :resources %><br>
    <%= f.collection_check_boxes(:resource_ids, Resource.all, :id, :to_s) %>
  </div>
    <%= link_to 'New resources', new_resource_path %><br><br>
  <div class="field">

   <div class="field">
    <%= f.label :technical_skills %><br>
    <%= f.collection_check_boxes(:technical_skill_ids, TechnicalSkill.all, :id, :to_s) %>
  </div>
  <%= link_to 'New technical skills', new_technical_skill_path %><br><br>
  <div class="field">

   <div class="field">
    <%= f.label :soft_skills %><br>
    <%= f.collection_check_boxes(:soft_skill_ids, SoftSkill.all, :id, :to_s) %>
  </div>
  <%= link_to 'New Soft skills', new_soft_skill_path %><br><br>
  <div class="field">
    
    <%= f.label :documentation %><br>
  <%= link_to 'New documentation', new_documentation_path %><br><br>
<% end %>
