<%- model_class = Software -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:page) %></th>
      <th><%= model_class.human_attribute_name(:contribution_model) %></th>
      <th><%= model_class.human_attribute_name(:coding_standard) %></th>
      <th><%= model_class.human_attribute_name(:contribution_standard) %></th>
      <th><%= model_class.human_attribute_name(:setup_workspace) %></th>
      <th><%= model_class.human_attribute_name(:issue_tracker) %></th>
      <th><%= model_class.human_attribute_name(:repository) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @softwares.each do |software| %>
      <tr>
        <td><%= link_to software.id, software_path(software) %></td>
        <td><%= software.name %></td>
        <td><%= software.description %></td>
        <td><%= software.page %></td>
        <td><%= software.contribution_model %></td>
        <td><%= software.coding_standard %></td>
        <td><%= software.contribution_standard %></td>
        <td><%= software.setup_workspace %></td>
        <td><%= software.issue_tracker %></td>
        <td><%= software.repository %></td>
        <td><%=l software.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_software_path(software), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      software_path(software),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_communication_channel_path,
            :class => 'btn btn-primary' %>
