<p id="notice"><%= notice %></p>

<strong>How can I help you?</strong>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Software</a></li>
  <li role="presentation"><a href="#how-to-start">How to Start</a></li>
  <li role="presentation"><a href="#talk">Talk to the Community</a></li>
  <li role="presentation"><a href="#setup">Setup your workspace</a></li>
  <li role="presentation"><a href="#code">Deal with code</a></li>
  <li role="presentation"><a href="#submit">Submit your changes</a></li>  
</ul>

<div class="jumbotron">
  <h1><%= @software.name %></h1>
  <div class="container">


<div class="panel panel-danger">
  <div class="panel-heading">About the project</div>
  <div class="panel-body">
  <%= @software.description %>
  <br>
  <strong>Page:</strong>
  <%= @software.page %>
  <br>
  <strong>Issue tracker:</strong>
  <%= @software.issue_tracker %>  
  <br>
  <strong>Repository:</strong>
  <%= @software.repository %>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">Technical skills required</div>
  <div class="panel-body">
    <% @technical_skills.map do |technical_skill|%>
        <%= link_to technical_skill.id, technical_skill_path(technical_skill) %>
        <%= technical_skill.name %>
        <%= technical_skill.description %>
        <br>
      <% end %>
</div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">Soft skills required</div>
  <div class="panel-body">
    <% @soft_skills.map do |soft_skill|%>
    <%= link_to soft_skill.id, soft_skill_path(soft_skill) %>
    <%= soft_skill.name %>
    <%= soft_skill.description%>
    <br>
    <% end %>
</div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">Resource available</div>
  <div class="panel-body">
    <% @resources.map do |resource|%>
    <% link_to resource.id, resource_path(resource) %>
    <% resource.name %>
    <% resource.description %>
    <br>
    <% end %>
</div>
</div>

</div>
</div>

<div class="jumbotron" id="how-to-start">
  <h1><%= @software.name %> - How to Start</h1>
  <div class="container">

<div class="panel panel-danger">
  <div class="panel-heading">Contribution Flow</div>
  <div class="panel-body">

  <%= @software.contribution_model %>

</div>
</div>
</div>
</div>


<div class="jumbotron" id="talk">
  <h1><%= @software.name %>   - Talk to the community</h1>
  <div class="container">

<div class="panel panel-danger">
  <div class="panel-heading">Community Suport</div>
  <div class="panel-body">

    <% @software.communication_channels.each do |communication_channel|%>
        <%= link_to communication_channel.name, communication_channel %>
        <%= communication_channel.description %>
        <%= communication_channel.standard %>
        <br>
      <% end %>
</div>
</div>
</div>
</div>

<div class="jumbotron" id="setup">
  <h1><%= @software.name %> - Workspace Setup</h1>
  <div class="container">


<div class="panel panel-danger">
  <div class="panel-heading">Resources provided by the project</div>
  <div class="panel-body">
    <%= @software.setup_workspace %>
</div>
</div>
</div>
</div>


<div class="jumbotron" id="code">
  <h1><%= @software.name %> - Code</h1>
  <div class="container">


<div class="panel panel-danger">
  <div class="panel-heading">Code documentation</div>
  <div class="panel-body">
  <%= @software.coding_standard %>  
</div>
</div>
</div>
</div>

<div class="jumbotron" id="submit">
  <h1><%= @software.name %> - Submit your change</h1>
  <div class="container">


<div class="panel panel-danger">
  <div class="panel-heading">Submiting your contribution</div>
  <div class="panel-body">
  <%= @software.contribution_standard %> 
</div>
</div>
</div>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              softwares_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_software_path(@software), :class => 'btn btn-default' %>